@import './components/header.css';
@import './components/globals.css';
@import './components/design-with-us.css';
@import './components/hero.css';
@import './components/support.css';
@import './components/products.css';
@import './components/specifications.css';
@import './components/team.css';
@import './components/contact.css';
@import './components/footer.css';