.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 20px;
  width: 100%;
  background-color: rgba(22, 28, 40, 1);
}

.contact__title {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 40px;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}

.contact__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}

.contact__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 0 0 32px 0;
  width: 100%;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.contact__form-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 16px;
}

.contact__form-title {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.contact__form-description {
  width: 100%;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}

.contact__form-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.contact__form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.contact__form-group--full {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.contact__form-label {
  width: 100%;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.contact__form-divider {
  width: 100%;
  height: 1px;
  background-color: #c3c3c3;
}

.contact__form-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
}

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}

.contact__method {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

.contact__method-title {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.contact__method-description {
  width: 100%;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.contact__method-value {
  width: 100%;
  font-weight: 700;
  font-family: "Inter", Helvetica;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.contact__image {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  aspect-ratio: 1127 / 541;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  overflow: hidden;
}

.contact__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .contact {
    padding: 60px 40px;
    gap: 60px;
  }

  .contact__title {
    font-size: 40px;
  }

  .contact__content {
    flex-direction: row;
    gap: 32px;
  }

  .contact__form-wrapper {
    width: 50%;
    padding: 0 32px 0 0;
    border-right: 1px solid #c3c3c3;
    border-bottom: none;
  }

  .contact__info {
    width: 50%;
  }

  .contact__form-title {
    font-size: 22px;
  }

  .contact__form-description, .contact__form-label, .contact__method-description, .contact__method-value {
    font-size: 15px;
  }

  .contact__form-row {
    flex-direction: row;
    gap: 32px;
  }

  .contact__form-group {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .contact {
    padding: 70px 80px;
    gap: 70px;
  }

  .contact__title {
    font-size: 44px;
  }

  .contact__form-wrapper {
    padding: 0 36px 0 0;
  }

  .contact__form-title {
    font-size: 23px;
  }

  .contact__form-description, .contact__form-label, .contact__method-description, .contact__method-value {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .contact {
    padding: 80px 154px;
    gap: 80px;
  }

  .contact__title {
    font-size: 48px;
  }

  .contact__container {
    width: 1128px;
    margin: 0 auto;
  }

  .contact__title {
    font-size: 48px;
  }

  .contact__content {
    gap: 40px;
  }

  .contact__form-wrapper {
    width: 605px;
    padding: 0 40px 0 0;
    gap: 40px;
  }

  .contact__form-header {
    width: 605px;
    gap: 16px;
  }

  .contact__form-title {
    font-size: 24px;
  }

  .contact__form-description {
    width: 488px;
    font-size: 16px;
  }

  .contact__form {
    gap: 40px;
  }

  .contact__form-row {
    gap: 32px;
  }

  .contact__form-group {
    gap: 32px;
  }

  .contact__form-group--full {
    gap: 32px;
  }

  .contact__form-label {
    font-size: 16px;
  }

  .contact__info {
    gap: 40px;
  }

  .contact__method {
    gap: 16px;
  }

  .contact__method-title {
    font-size: 24px;
  }

  .contact__method-description {
    font-size: 16px;
  }

  .contact__method-value {
    font-size: 16px;
  }

  .contact__image {
    width: 1128px;
    height: 541px;
  }

  .btn-primary {
    width: 193px;
    height: 56px;
    border-radius: 1000px;
  }
}