.design-with-us {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  width: 100%;
  background-color: #e8f3f1;
}

.design-with-us__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.design-with-us__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.design-with-us__title {
  font-family: "Inter", Helvetica;
  font-weight: 900;
  color: rgba(25, 26, 21, 1);
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 1.1;
  text-transform: uppercase;
}

.design-with-us__description {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #1a1a1a;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.6;
  max-width: 100%;
}

.design-with-us__image {
  position: relative;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.design-with-us__main-image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.design-with-us__icon {
  position: absolute;
  width: auto;
  height: auto;
}

.design-with-us__icon--lightning {
  top: 15%;
  left: 5%;
  width: 50px;
  z-index: 2;
}

.design-with-us__icon--chart {
  top: 5%;
  right: 10%;
  width: 45px;
  z-index: 2;
}

.design-with-us__icon--cactus {
  bottom: 20%;
  right: 5%;
  width: 60px;
  z-index: 2;
}

.design-with-us__icon--palette {
  bottom: 10%;
  right: 0;
  width: 50px;
  z-index: 2;
}

@media (min-width: 768px) {
  .design-with-us {
    padding: 80px 40px;
  }

  .design-with-us__content {
    flex-direction: row;
    gap: 50px;
    align-items: center;
    max-width: 100%;
  }

  .design-with-us__text {
    width: 50%;
  }

  .design-with-us__title {
    font-size: 56px;
    letter-spacing: -1.5px;
  }

  .design-with-us__description {
    font-size: 15px;
    line-height: 1.6;
  }

  .design-with-us__image {
    width: 50%;
    max-width: 450px;
  }

  .design-with-us__icon--lightning {
    width: 60px;
  }

  .design-with-us__icon--chart {
    width: 50px;
  }

  .design-with-us__icon--cactus {
    width: 70px;
  }

  .design-with-us__icon--palette {
    width: 55px;
  }
}

@media (min-width: 1024px) {
  .design-with-us {
    padding: 100px 80px;
  }

  .design-with-us__content {
    gap: 70px;
    max-width: 100%;
  }

  .design-with-us__text {
    width: 48%;
  }

  .design-with-us__title {
    font-size: 68px;
    letter-spacing: -2px;
  }

  .design-with-us__description {
    font-size: 16px;
    line-height: 1.6;
    max-width: 480px;
  }

  .design-with-us__image {
    width: 52%;
    max-width: 520px;
  }

  .design-with-us__icon--lightning {
    width: 65px;
  }

  .design-with-us__icon--chart {
    width: 55px;
  }

  .design-with-us__icon--cactus {
    width: 75px;
  }

  .design-with-us__icon--palette {
    width: 60px;
  }
}

@media (min-width: 1440px) {
  .design-with-us {
    padding: 120px 156px;
  }

  .design-with-us__content {
    width: 1120px;
    margin: 0 auto;
    gap: 100px;
  }

  .design-with-us__text {
    width: 480px;
    flex-shrink: 0;
  }

  .design-with-us__title {
    font-size: 70px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 1.00;
  }

  .design-with-us__description {
    font-size: 18px;
    line-height: 30px;
    max-width: 460px;
  }

  .design-with-us__image {
    width: 408px;
    height: 526px;
    max-width: 408px;
    flex-shrink: 0;
  }

  .design-with-us__icon--lightning {
    top: 15%;
    left: 5%;
    width: 50px;
    height: 50px;
  }

  .design-with-us__icon--chart {
    top: 5%;
    right: 10%;
    width: 60px;
  }

  .design-with-us__icon--cactus {
    bottom: 20%;
    right: 5%;
    width: 70px;
    height: 195px;
  }

  .design-with-us__icon--palette {
    bottom: 10%;
    right: 0;
    width: 50px;
    height: 50px;
  }
}