.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 40px 20px;
  width: 100%;
  background-color: #ffffff;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.hero__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 16px;
}

.hero__title {
  width: 100%;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.hero__description {
  width: 100%;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

.hero__link {
  display: inline-flex;
  height: 32px;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  border-bottom: 1px solid var(--Innowise-Black, rgba(53, 53, 53, 1));
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: black;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  transition: opacity 0.3s ease;
}

.hero__link:hover {
  opacity: 0.7;
}

.hero__image {
  width: 100%;
  height: auto;
  aspect-ratio: 543 / 424;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  color: rgba(53, 53, 53, 1);
}

.hero__image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 6px;
}

.hero__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .hero {
    padding: 60px 40px;
    gap: 32px;
  }
  .hero__content {
    flex-direction: row;
    gap: 32px;
  }
  .hero__text {
    width: 50%;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__description {
    font-size: 15px;
    line-height: 24px;
  }
  .hero__image {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding: 80px 80px;
    gap: 40px;
  }

  .hero__title {
    font-size: 44px;
  }

  .hero__description {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (min-width: 1440px) {
  .hero {
    padding: 120px 156px;
    gap: 40px;
  }

  .hero__content {
    max-width: 1127px;
    margin: 0 auto;
  }

  .hero__text {
    width: 544px;
  }

  .hero__title {
    font-weight: 600;
    font-size: 48px;
  }

  .hero__description {
    width: 513px;
    height: 286px;
    font-size: 16px;
    line-height: 160%;
  }

  .hero__link {
    font-size: 16px;
    line-height: 100%;
  }

  .hero__image {
    width: 543px;
    height: 424px;
  }
}