.specifications {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 32px;
  padding: 40px 20px;
  background-color: rgba(249, 248, 254, 1);
}

.specifications__title {
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 30px;
  font-style: bold;
}

.specifications__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.specifications__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 0;
  width: 100%;
  border-top: 1px solid var(--color-text-dark);
}

.specifications__label {
  font-size: 16px;
  line-height: normal;
  font-family: var(--font-family-inter);
  font-weight: 700;
  color: var(--color-text-dark);
  letter-spacing: 0;
}

.specifications__content {
  font-weight: 400;
  color: var(--color-text-dark);
  font-size: 14px;
  font-family: var(--font-family-inter);
  letter-spacing: 0;
  line-height: 100%;
}

.specifications__link {
  font-family: var(--font-family-inter);
  font-weight: 400;
  color: var(--color-text-dark);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 100%;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.specifications__link:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .specifications {
    padding: 60px 40px;
    gap: 32px;
  }

  .specifications__item {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 32px 0;
  }

  .specifications__label {
    width: 200px;
    flex-shrink: 0;
  }

  .specifications__content {
    flex: 1;
    font-size: 15px;
  }

  .specifications__link {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .specifications {
    padding: 70px 80px;
    gap: 36px;
  }

  .specifications__title {
    font-size: 35px;
  }

  .specifications__item {
    gap: 36px;
    padding: 36px 0;
  }

  .specifications__label {
    width: 220px;
    font-size: 18px;
  }

  .specifications__content, .specifications__link {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .specifications {
    padding: 80px 156px;
    gap: 40px;
  }

  .specifications__title {
    font-size: 48px;
    line-height: 100%;  
  }

  .specifications__list {
    width: 1128px;
    height: 408px;
    margin: 0 auto;
  }

  .specifications__item {
    gap: 40px;
    padding: 40px 0;
  }

  .specifications__label {
    width: fit-content;
    font-size: 18px;
    font-weight: 700;
    font-style: bold;
  }

  .specifications__content {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
  }

  .specifications__link {
    width: fit-content;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
  }
}