.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px 20px;
  width: 100%;
  background-color: rgba(249, 248, 254, 1);
}

.support__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 32px;
}

.support__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 40px;
}

.support__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.support__title {
  font-size: 40px;
  font-weight: 600;
  max-width: 545px;
  font-family: var(--font-family-inter);
  color: var(--color-text-primary);
}

.support__description {
  font-size: 16px;
  color: var(--color-text-gray);
}

.support__ratings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}

.support__rating-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  width: 100%;
}

.support__rating-stars {
  width: 142px;
  height: 26px;
}

.support__rating-info {
  position: relative;
  width: 116px;
  height: 62px;
}

.support__rating-score {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--font-family-inter);
  font-weight: 400;
  color: var(--color-text-primary);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.support__score-bold {
  font-weight: 700;
}

.support__score-divider {
  font-family: var(--font-family-inter);
  font-weight: 400;
  color: var(--color-text-primary);
  font-size: 16px;
  letter-spacing: 0;
}

.support__score-text {
  font-weight: 500;
}

.support__rating-source {
  position: absolute;
  top: 40px;
  left: 0;
  font-family: var(--font-family-inter);
  font-weight: 500;
  color: var(--color-text-gray);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.support__features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.support__feature-card {
  position: relative;
  width: 100%;
  min-height: 100px;
}

.support__feature-description {
  position: absolute;
  top: 47px;
  left: 70px;
  right: 10px;
  font-family: var(--font-family-inter);
  font-weight: 500;
  color: var(--color-text-gray);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.support__feature-icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 9px #0000000d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.support__feature-icon {
  width: 32px;
  height: 30px;
}

.support__feature-title {
  position: absolute;
  top: 3px;
  left: 70px;
  font-family: var(--font-family-inter);
  font-weight: 700;
  color: var(--color-text-primary);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

@media (min-width: 768px) {
  .support {
    padding: 60px 40px;
  }
  .support__content {
    flex-direction: row;
    gap: 32px;
  }
  .support__info {
    width: 50%;
    gap: 60px;
  }
  .support__title {
    font-size: 40px;
  }
  .support__description {
    font-size: 15px;
    line-height: 27px;
  }
  .support__ratings {
    flex-direction: row;
    gap: 40px;
  }
  .support__rating-item {
    width: auto;
  }
  .support__features {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .support {
    padding: 80px 80px;
  }
  .support__info {
    gap: 70px;
  }
  .support__title {
    font-size: 44px;
  }
  .support__description {
    font-size: 16px;
    line-height: 28px;
  }
  .support__ratings {
    gap: 60px;
  }
}

@media (min-width: 1440px) {
  .support {
    padding: 120px 156px;
  }

  .support__content {
    width: 1127px;
    margin: 0 auto;
    gap: 40px;
  }

  .support__info {
    width: 545px;
    gap: 80px;
  }

  .support__header {
    width: 545px;
    height: 222px;
    gap: 16px;
  }

  .support__title {
    font-size: 48px;
    font-weight: 600;
    color: var(--color-text-primary);
    line-height: 100%;
    letter-spacing: 0%;
    width: 545px;
    height: 116px;
  }

  .support__description {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0%;
    width: 545px;
    height: 90px;
  }

  .support__ratings {
    gap: 80px;
  }

  .support__rating-score {
    font-size: 18px;
  }

  .support__score-divider {
    font-size: 18px;
  }

  .support__rating-source {
    font-size: 18px;
  }

  .support__features {
    gap: 30px;
    width: 542px;
    height: 411px;
  }

  .support__feature-card {
    height: 137px;
    width: 542px;
  }

  .support__feature-description {
    top: 47px;
    left: 86.25px;
    width: 455.75px;
    height: 90px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
  }

  .support__feature-icon-wrapper {
    width: 64px;
    height: 60px;
  }

  .support__feature-icon {
    width: 32px;
    height: 30px;
  }

  .support__feature-title {
    top: 3px;
    left: 86px;
    width: 456px;
    font-size: 24px;
  }
}